@charset "utf-8";
/* SIR 子云爸爸 */

/* 最新文章皮肤 (new) */
#new_sch {margin-bottom:10px;text-align:right}
#new_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#new_sch p {padding:5px 0 0;font-size:1em;text-align:right;letter-spacing:-0em}