@charset "utf-8";
/* SIR 子云爸爸 */

/* 最新内容皮肤 (latest) */
.bann_pc {float:left;margin-left:20px}
.bann {position:relative;float:left;margin-bottom:20px;padding:0 0; border-top:solid 1px #d6d6d6; height:455px; width:960px;}
.bann ul {margin:60px 0 10px;padding:0;list-style:none}
.bann li {padding:0 0; float:left;margin:3px 3px;}
.bann li div.title {width:100%; heigth:32px;line-height:32px; vertical-align:middle;}
.bann li div.title2  {width:100%; heigth:20px;line-height:20px; vertical-align:middle; float:left; color:#898989;}
.bann li div.title a {float:left;}
.bann li div.title span {float:right;font-size:14px;}
.bann li.left {margin:3px 3px 3px 0;}
.bann li img {margin:0;}
.bann li.right {margin:3px 0 3px 3px;}
.bann li a {font-size:16px; color:#3e3a39; line-height:32px; vertical-align:middle;}
.bann li span {font-size:12px; color:#898989;}
.bann .bann_title {display:block;padding:10px 0 8px}
.bann .bann_more {position:absolute;top:10px;right:0}
.bann .cnt_cmt {display:inline-block;margin:0 0 0 3px;font-weight:bold}
.bann .latest_title {width:100%; height:32px; margin:30px 0 0 0;}
.bann .latest_title .left {float:left;}
.bann .latest_title .right {float:right;}
.bann .latest_title .right img {margin:0 10px;}